<!-- <app-features></app-features> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InterfaceWeb</title>
</head>
<body>

    <div class="container-fluid col-sm-12 col-md-10">
        <h4 style="margin-top: 100px;text-align: center;">Institute Management System</h4>
        <div class="row my-4 g-3">
           
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/Dashboard.png" width="120%" height="90%">
                    </div>
                    <div class="col-lg-8 ps-3">Dashboard</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/BranchMaster.png" width="100%" height="90%">
                    </div>
                    <div class="col-lg-8 ps-3">Branch Master</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/Userinterface.jpg" width="100%" height="90%">
                    </div>
                    <div class="col-lg-8 ps-3">User Master</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/Manageenq.jpg" width="100%" height="90%">
                    </div>
                    <div class="col-lg-8 ps-3">Manage Enquiries</div>
                </div>
            </div>
           
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5 ">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/studentmaster.png" width="100%" height="90%">
                    </div>
                    <div class="col-lg-8 ps-3">Students Master</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5 ">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/issuecertificates.jpg" width="100%" height="90%" >
                    </div>
                    <div class="col-lg-8 ps-3">Issue Certificates</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/StudentEmployeeAttendance.png" width="100%"  height="90%">
                    </div>
                    <div class="col-lg-8 ps-3">Student/Employee Attendance</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/ManageFee.jpg" width="100%"  height="90%">
                    </div>
                    <div class="col-lg-8 ps-3">Manage Fee</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/EmployeeSalary.jpg" width="100%"  height="90%">
                    </div>
                    <div class="col-lg-8 ps-3">Employee Salary</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/Communication.jpg" width="100%"  height="90%">
                    </div>
                    <div class="col-lg-8 ps-3">Communication <br> (SMS,Email)</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/Assignment.png" width="100%"  height="90%">
                    </div>
                    <div class="col-lg-8 ps-3">Assignment</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/Expenses.png" width="100%"  height="90%">
                    </div>
                    <div class="col-lg-8 ps-3">Expenses</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/ManagEmployee.png" width="100%"  height="90%">
                    </div>
                    <div class="col-lg-8 ps-3">Manage Employee</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/AssignStafft.png" width="100%"  height="90%">
                    </div>
                    <div class="col-lg-8 ps-3">Assign Staff to Batches</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/Reports.png" width="100%"  height="90%">
                    </div>
                    <div class="col-lg-8 ps-3">Reports</div>
                </div>
            </div>
           
           
    </div>
    </div>
</body>
</html>

