<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InterfaceWeb</title>
 
  </head>
  <body>
   
    <div class="page_banner "  id="fullbody">
      <h4 style="color: #fff;text-align: center;margin-top: 60px;font-size:40px;text-shadow: red 2px 2px;">CAREERS</h4>
  </div>

    <div class="container-fluid col-sm-12 col-md-10">
      <div class="row my-5">
        <div class="col-md-8">
          <p>
            Interface11 speaks to a gathering of capable, accomplished, and
            decided experts that drive results. We heartily enroll experts who
            are innovative masterminds and results-driven cooperative people.
            Meet any of our colleagues and you will recognize promptly that we
            are:
          </p>
          <div class="list mt-4">
            <ul style="list-style-type: none">
              <li>- Energetic experts</li>
              <li>- Talented masterminds</li>
              <li>- Successful issue solvers</li>
              <li>- Ingenious and decided specialized masters</li>
              <li>- Incredible cooperative people</li>
            </ul>
          </div>
          <p class="mt-4">
            All positions require excellent communication skills. Strong
            analytical and problem solving abilities are essential for Software
            Engineers. Kindly send your resume to info@interface11.com
          </p>
        </div>
        <div class="col-md-4">
          <h3
            style="
              color: #08979d;
              font-family: 'Times New Roman';
              text-shadow: red 2px 1px;
              font-size: 30px;
            "
          >
            Job Positions
          </h3>
          <div class="row mt-4">
            <div class="col-sm-12 col-md-12">
              <div class="emmerce-card d-flex">
                <ul>
                  <li>
                    <a 
                      ><i class="fa fa-hand-o-right" aria-hidden="true"></i>PHP
                      Developers</a
                    >
                  </li>
                  <li>
                    <a 
                      ><i class="fa fa-hand-o-right" aria-hidden="true"></i
                      >Software Developers</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3
      style="
        color: #08979d;
        font-family: 'Times New Roman';
        text-shadow: red 2px 1px;
        font-size: 35px;
      "
      class="my-4 text-center"
    >
      Apply to Job
    </h3>
    <!-- <div></div> -->
    <div class="row">
      <div class="col-sm-12 col-md-9 mx-auto">
        <form class="row form-disgn p-4">
          <div class="col-sm-12 col-md-6 mb-3">
            <label for="fullname" class="mb-2"
              >Full Name<span style="color: red">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="fullname"
              placeholder="full name" 
            />
          </div>
          <div class="col-sm-12 col-md-6 mb-3">
            <label for="Email" class="mb-2"
              >Email <span style="color: red">*</span></label
            >
            <input
              type="email"
              class="form-control"
              id="Email"
              placeholder="email" 
            />
          </div>
          <div class="col-sm-12 col-md-6 mb-3">
            <label for="phone" class="mb-2"
              >Phone Number<span style="color: red">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="phone"
              placeholder="phone number" 
            />
          </div>
          <div class="col-sm-12 col-md-6 mb-3">
            <label for="Qualication" class="mb-2"
              >Highest Qualication <span style="color: red">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="Qualication"
              placeholder="highest qualication"
            />
          </div>
          <div class="col-sm-12 col-md-6 mb-3">
            <label for="skills" class="mb-2">Skills</label>
            <textarea
              name="skills"
              id="skills"
              class="skills"
              class="form-control"
              cols="30"
              rows="5"
            ></textarea>
          </div>
          <div class="col-sm-12 col-md-6 mb-3">
            <label for="Additional" class="mb-2">Additional Info</label>
            <textarea
              name="Additional"
              id="Additional"
              class="skills"
              class="form-control"
              cols="30"
              rows="5"
            ></textarea>
          </div>
          <div class="col-sm-12 col-md-12 mb-3">
            <label for="Resume" class="mb-2"
              >Update Resume <span style="color: red">*</span></label
            >
            <input
              type="file"
              class="form-control"
              id="Resume"
              placeholder="Resume"
            />
          </div>

          <!-- <div class="form-row d-flex flex-md-wrap flex-wrap justify-content-between ">
                            <div class="form-group col-md-5 mx-auto">
                              <label for="inputEmail4">Email <span style="color: red;">*</span></label>
                              <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                            </div>
                            <div class="form-group col-md-5 mx-auto">
                              <label for="inputPassword4">Password<span style="color: red;">*</span></label>
                              <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                            </div>
                          </div> -->
          <div
            class="col-md-6 mx-auto d-flex justify-content-center align-items-center"
          >
            <button type="submit" class="btn btn-primary">
              Submit Information
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
