
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>InterfaceWeb</title>
 
</head>
<body>

<footer class="mt-5">
	<div class="container" >
		<div class="footer-wrapper" >
			<div class="copyright">
        &copy;@2023
        <a href="http://interface11.com" target="_blank">Interface11 PVT LTD.</a>,All Rights Reserved.
      </div>
     <div class="social-icon">
      <a href="https://www.facebook.com/interface11/"><i class="fab fa-facebook fa-3x"></i></a>
      <a href="https://twitter.com/Interface112"><i class="fab fa-twitter fa-3x"></i></a>
      <a href="https://www.instagram.com/interface.11/"><i class="fab fa-instagram fa-3x"></i></a>
      <a href="https://plus.google.com/u/0/115763005073074524891"><i class="fab fab fa-google-plus-g fa-3x"></i></a>
      <a href="https://www.youtube.com/channel/UCywnYfrj5PqHT3Vl1K9-ShA/"><i class="fab fa-youtube fa-3x"></i></a>
      <a href="https://www.linkedin.com/in/interface-services-a9937817a/"><i class="fab fa-linkedin fa-3x"></i></a>
     </div>
      <!-- <div class="col-md-3">
        <h1 class="contactus">Contact Us</h1>
       
        <h1 class="socialM">Social Media</h1>
        <a href="https://www.facebook.com"><i class="fab fa-facebook-square fa-3x"></i></a>
        <a href="https://www.facebook.com"><i class="fab fa-facebook-square fa-3x"></i></a>
        <a href="https://www.facebook.com"><i class="fab fa-facebook-square fa-3x"></i></a>
        <a href="https://www.facebook.com"><i class="fab fa-facebook-square fa-3x"></i></a>
        <p>Email-Us <a href="mailto:dummyemail@gmail.com">dummyemail@gmail.com</a></p>
        <p>Call-Us <a href="tel:044-4547896321">044-4547896321</a></p>
      </div> -->
		</div>
	</div>
</footer>
  
</body>
</html>