<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>InterfaceWeb</title>
</head>
<body>
    <h2 class="pro_head">OUR PROJECTS</h2>
    <div class="container-fluid col-sm-12 col-md-10 ">
        <div class="row g-3">
            <div class="col-sm-12 col-md-6 col-lg-4 ">
              <div class="portfolio_item" data-toggle="modal" data-target="#exampleModal1">
                <img src="/assets/img/dressonrent.png" alt="" width="100%" height="200px" data-target="#carouselExample1" data-slide-to="0" >
                <figcaption><h4>Dress On Rent</h4></figcaption>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 ">
                <div class="portfolio_item" data-toggle="modal" data-target="#exampleModal2">
                  <img src="/assets/img/moonlightschool.png" alt="" width="100%" height="200px" data-target="#carouselExample2" data-slide-to="1">
                  <figcaption><h4>Moonlight School</h4></figcaption>
                </div>
          
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="portfolio_item" data-toggle="modal" data-target="#exampleModal3">
                  <img src="/assets/img/nationalpharma.png" alt="" width="100%" height="201px" data-target="#carouselExample3" data-slide-to="2"> 
                  <figcaption><h4>National Pharma</h4></figcaption>
                </div>
          
              </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="portfolio_item" data-toggle="modal" data-target="#exampleModal4">
                <img src="/assets/img/financemanagementsystem.png" alt="" width="100%" height="201px" data-target="#carouselExample4" data-slide-to="3">
                <figcaption><h4>Finance Management System</h4></figcaption>
              </div>
        
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="portfolio_item" data-toggle="modal" data-target="#exampleModal5">
                  <img src="/assets/img/hindustaniconventchurch.png" alt="" width="100%" height="201px" data-target="#carouselExample5" data-slide-to="4">
                  <figcaption><h4>Hindustani Covenant Church</h4></figcaption>
                </div>
          
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="portfolio_item" data-toggle="modal" data-target="#exampleModal6">
                  <img src="/assets/img/covenantsocialservice.png" alt="" width="100%" height="201px" data-target="#carouselExample6" data-slide-to="5">
                  <figcaption><h4>Covenant Social services</h4></figcaption>
                </div>
          
              </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="portfolio_item" data-toggle="modal" data-target="#exampleModal7">
                <img src="/assets/img/inventorymanagementsystem.png" alt="" width="100%" height="201px" data-target="#carouselExample7" data-slide-to="6">
                <figcaption><h4>Inventory Management System</h4></figcaption>
              </div>
        
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="portfolio_item" data-toggle="modal" data-target="#exampleModal8">
                  <img src="/assets/img/organizationmanagementsystem.png" alt="" width="100%" height="201px" data-target="#carouselExample8" data-slide-to="7">
                  <figcaption><h4>Organization Management System</h4></figcaption>
                </div>
          
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="portfolio_item" data-toggle="modal" data-target="#exampleModal9">
                  <img src="/assets/img/ashishgrouptuitions.png" alt="" width="100%" height="201px" data-target="#carouselExample9" data-slide-to="8">
                  <figcaption><h4>Ashish Group Tuitions</h4></figcaption>
                </div>
          
              </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="portfolio_item" data-toggle="modal" data-target="#exampleModal10">
                <img src="/assets/img/mindscript1.png" alt="" width="100%" height="201px" data-target="#carouselExample10" data-slide-to="9">
                <figcaption><h4>Mindscript</h4></figcaption>
              </div>
        
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="portfolio_item" data-toggle="modal" data-target="#exampleModal11">
                  <img src="/assets/img/one1.png" alt="" width="100%" height="201px" data-target="#carouselExample11" data-slide-to="10">
                  <figcaption><h4>One +</h4></figcaption>
                </div>
          
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="portfolio_item" data-toggle="modal" data-target="#exampleModal12">
                  <img src="/assets/img/repairstation.png" alt="" width="100%" height="216px" data-target="#carouselExample12" data-slide-to="11">
                  <figcaption><h4>Repair Station</h4></figcaption>
                </div>
          
              </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="portfolio_item" data-toggle="modal" data-target="#exampleModal13">
                <img src="/assets/img/shapeup.png" alt="" width="100%" height="201px" data-target="#carouselExample13" data-slide-to="12">
                <figcaption><h4>Shape Up</h4></figcaption>
              </div>
        
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="portfolio_item" data-toggle="modal" data-target="#exampleModal14">
                  <img src="/assets/img/usit.png" alt="" width="100%" height="201px" data-target="#carouselExample14" data-slide-to="13">
                  <figcaption><h4>USIT</h4></figcaption>
                </div>
          
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="portfolio_item" data-toggle="modal" data-target="#exampleModal15">
                  <img src="/assets/img/wetnjoy.png" alt="" width="100%" height="215px" data-target="#carouselExample15" data-slide-to="14">
                  <figcaption><h4>WetNjoy</h4></figcaption>
                </div>
          
              </div>
      
        
       
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="portfolio_item" data-toggle="modal" data-target="#exampleModal16">
                <img src="/assets/img/graphix.png" alt="" width="100%" data-target="#carouselExample16" data-slide-to="15">
                <figcaption><h4>Graphix</h4></figcaption>
              </div>
        
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="portfolio_item" data-toggle="modal" data-target="#exampleModal17">
                  <img src="/assets/img/inventorymanagementsystem.png" alt="" width="100%" data-target="#carouselExample17" data-slide-to="16">
                  <figcaption><h4>Panchashil Telecom</h4></figcaption>
                </div>
          
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="portfolio_item" data-toggle="modal" data-target="#exampleModal18">
                  <img src="/assets/img/salemanagementsystem.png" alt="" width="100%" height="201px" data-target="#carouselExample18" data-slide-to="17">
                  <figcaption><h4>Sale Management System</h4></figcaption>
                </div>
          
              </div>
        
       
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="portfolio_item" data-toggle="modal" data-target="#exampleModal19">
                <img src="/assets/img/niit1.jpg" alt="" width="100%" height="201px" data-target="#carouselExample19" data-slide-to="18">
                <figcaption><h4>NIIT</h4></figcaption>
              </div>
        
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="portfolio_item" data-toggle="modal" data-target="#exampleModal20">
                  <img src="/assets/img/allcareeradvice.jpg" alt="" width="100%" height="201px" data-target="#carouselExample20" data-slide-to="19">
                  <figcaption><h4>All Career Advice</h4></figcaption>
                </div>
          
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="portfolio_item" data-toggle="modal" data-target="#exampleModal21">
                  <video controls width="100%" height="201px" data-target="#carouselExample21" data-slide-to="20">
                    <source src="/assets/img/food1.mp4" type="video/mp4"  class="hover-shadow cursor">
                  </video>
                  
                  <figcaption><h4>Food Xpress(click Here To See All Video)</h4></figcaption>
                </div>
          
              </div>
        
        </div>
        </div>


<!-- project modal1 -->
<div class="modal fade p-0 m-0" id="exampleModal1" tabindex="-1" role="dialog" aria-hidden="true"  >
  <div class="modal-dialog modal-button ">
    <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> -->
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    
    <h4 class="pro_title" >Project Name - Dress On Rent</h4>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div> -->
    
  <!-- Carousel markup: https://getbootstrap.com/docs/4.4/components/carousel/ -->
  <div id="carouselExample1" class="carousel slide" data-ride="carousel" >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="/assets/img/dressonrent.png" alt="" >
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/assets/img/dorweb3.png">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/assets/img/dorweb4.png">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/assets/img/dorweb5.png">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExample1" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExample1" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>



<!-- project modal2 -->
<div class="modal fade p-0 m-0" id="exampleModal2" tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog modal-button ">
    <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> -->
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body ">
    
    <h4 class="pro_title" >Project Name - Moonlight School</h4>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div> -->
    
  <!-- Carousel markup: https://getbootstrap.com/docs/4.4/components/carousel/ -->
  <div id="carouselExample2" class="carousel slide" data-ride="carousel" >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="/assets/img/moonlightschool.png" alt="" >
         
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/assets/img/Moonscreen2.png">
          
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/assets/img/Moonscreen4.png">
          
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/assets/img/Moonscreen5.png">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExample2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExample2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>



<!-- project modal3 -->
<div class="modal fade p-0 m-0" id="exampleModal3" tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog modal-button ">
    <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> -->
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body ">
    
    <h4 class="pro_title" >Project Name -National Pharma</h4>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div> -->
    
  <!-- Carousel markup: https://getbootstrap.com/docs/4.4/components/carousel/ -->
  <div id="carouselExample3" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/assets/img/nationalpharma.png" alt="" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/Pharmaweb3.png">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/pharmascreen1.png">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/pharmascreen2.png">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExample3" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample3" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
</div>


<!-- project modal4 -->
<div class="modal fade p-0 m-0" id="exampleModal4" tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog modal-button ">
    <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> -->
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body ">
    
    <h4 class="pro_title" >Project Name -FMS</h4>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div> -->
    
  <!-- Carousel markup: https://getbootstrap.com/docs/4.4/components/carousel/ -->
  <div id="carouselExample4" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/assets/img/FMS-1.png" alt="" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/FMS-2.png">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/FMS-1.png">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/FMS-2.png">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExample4" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample4" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  </div>
</div>


<!-- project modal5 -->
<div class="modal fade p-0 m-0" id="exampleModal5" tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog modal-button ">
    <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> -->
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body ">
    
    <h4 class="pro_title" >Project Name -Hindustani Convent Church</h4>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div> -->
    
  <!-- Carousel markup: https://getbootstrap.com/docs/4.4/components/carousel/ -->
  <div id="carouselExample5" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/assets/img/HCCweb1.png" alt="" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/HCCweb2.png">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/HCCweb4.png">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/HCCweb5.png">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExample5" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample5" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  </div>
</div>


<!-- project modal6 -->
<div class="modal fade p-0 m-0" id="exampleModal6" tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog modal-button ">
    <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> -->
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body ">
    
    <h4 class="pro_title" >Project Name -Covenant Social Service</h4>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div> -->
    
  <!-- Carousel markup: https://getbootstrap.com/docs/4.4/components/carousel/ -->
  <div id="carouselExample6" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/assets/img/CSSweb1.png" alt="" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/CSSweb2.png">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/CSSweb3.png">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/CSSweb4.png">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExample6" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample6" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  </div>
</div>


<!-- project modal7 -->
<div class="modal fade p-0 m-0" id="exampleModal7" tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog modal-button ">
    <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> -->
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body ">
    
    <h4 class="pro_title" >Project Name -Inventory Management System</h4>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div> -->
    
  <!-- Carousel markup: https://getbootstrap.com/docs/4.4/components/carousel/ -->
  <div id="carouselExample7" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/assets/img/inventorymanagementsystem.png" alt="" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/Stock2.png">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/Stock2.png">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/dorweb5.png">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExample7" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample7" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  </div>
</div>

<!-- project modal8 -->
<div class="modal fade p-0 m-0" id="exampleModal8" tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog modal-button ">
    <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> -->
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body ">
    
    <h4 class="pro_title" >Project Name -MIS</h4>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div> -->
    
  <!-- Carousel markup: https://getbootstrap.com/docs/4.4/components/carousel/ -->
  <div id="carouselExample8" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/assets/img/HCCScreen3.png" alt="" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/HCCScreen1.png">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/HCCScreen4.png">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/HCCScreen5.png">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExample8" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample8" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  </div>
</div>

<!-- project modal9 -->
<div class="modal fade p-0 m-0" id="exampleModal9" tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog modal-button ">
    <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> -->
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body ">
    
    <h4 class="pro_title" >Project Name -Ashish Group Tuitions</h4>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div> -->
    
  <!-- Carousel markup: https://getbootstrap.com/docs/4.4/components/carousel/ -->
  <div id="carouselExample9" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/assets/img/AGT1.png" alt="" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/AGT2.png">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/AGT1.png">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/AGT3.png">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExample9" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample9" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  </div>
</div>


<!-- project modal10 -->
<div class="modal fade p-0 m-0" id="exampleModal10" tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog modal-button ">
    <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> -->
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body ">
    
    <h4 class="pro_title" >Project Name -Mindscript</h4>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div> -->
    
  <!-- Carousel markup: https://getbootstrap.com/docs/4.4/components/carousel/ -->
  <div id="carouselExample10" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/assets/img/mindscript1.png" alt="" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/Mindscript2.png">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/mindscript1.png">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/Mindscript3.png">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExample10" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample10" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  </div>
</div>

<!-- project modal11 -->
<div class="modal fade p-0 m-0" id="exampleModal11" tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog modal-button ">
    <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> -->
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body ">
    
    <h4 class="pro_title" >Project Name -One+</h4>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div> -->
    
  <!-- Carousel markup: https://getbootstrap.com/docs/4.4/components/carousel/ -->
  <div id="carouselExample11" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/assets/img/one1.png" alt="" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/One2.png">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/One3.png">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/One4.png">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExample11" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample11" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  </div>
</div>


<!-- project modal12 -->
<div class="modal fade p-0 m-0" id="exampleModal12" tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog modal-button ">
    <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> -->
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body ">
    
    <h4 class="pro_title" >Project Name -Repair Station</h4>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div> -->
    
  <!-- Carousel markup: https://getbootstrap.com/docs/4.4/components/carousel/ -->
  <div id="carouselExample12" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/assets/img/repairstation.png" alt="" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/Repair1.png">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/repairstation.png">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/Repair1.png">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExample12" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample12" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  </div>
</div>

<!-- project modal13 -->
<div class="modal fade p-0 m-0" id="exampleModal13" tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog modal-button ">
    <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> -->
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body ">
    
    <h4 class="pro_title" >Project Name -Shape UP</h4>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div> -->
    
  <!-- Carousel markup: https://getbootstrap.com/docs/4.4/components/carousel/ -->
  <div id="carouselExample13" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/assets/img/shapeup.png" alt="" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/Shapeup2.png">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/Shapeup3.png">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/Shapeup4.png">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExample13" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample13" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  </div>
</div>
 
<!-- project modal14 -->
<div class="modal fade p-0 m-0" id="exampleModal14" tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog modal-button ">
    <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> -->
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body ">
    
    <h4 class="pro_title" >Project Name -USIT</h4>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div> -->
    
  <!-- Carousel markup: https://getbootstrap.com/docs/4.4/components/carousel/ -->
  <div id="carouselExample14" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/assets/img/usit.png" alt="" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/USIT2.png">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/usit.png">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/USIT3.png">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExample14" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample14" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  </div>
</div>


<!-- project modal15 -->
<div class="modal fade p-0 m-0" id="exampleModal15" tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog modal-button ">
    <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> -->
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body ">
    
    <h4 class="pro_title" >Project Name -WetNjoy</h4>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div> -->
    
  <!-- Carousel markup: https://getbootstrap.com/docs/4.4/components/carousel/ -->
  <div id="carouselExample15" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/assets/img/wetnjoy.png" alt="" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/wetnjoy2.png">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/wetnjoy3.png">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/wetnjoy4.png">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExample15" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample15" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  </div>
</div>


<!-- project modal16 -->
<div class="modal fade p-0 m-0" id="exampleModal16" tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog modal-button ">
    <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> -->
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body ">
    
    <h4 class="pro_title" >Project Name -Graphix</h4>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div> -->
    
  <!-- Carousel markup: https://getbootstrap.com/docs/4.4/components/carousel/ -->
  <div id="carouselExample16" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/assets/img/graphix.png" alt="" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/graphix1.png">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/graphix3.png">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/graphix4.png">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExample16" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample16" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  </div>
</div>

<!-- project modal17 -->
<div class="modal fade p-0 m-0" id="exampleModal17" tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog modal-button ">
    <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> -->
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body ">
    
    <h4 class="pro_title" >Project Name -Panchashil Telecom</h4>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div> -->
    
  <!-- Carousel markup: https://getbootstrap.com/docs/4.4/components/carousel/ -->
  <div id="carouselExample17" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/assets/img/panchashil1.png" alt="" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/panchashil2.png">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/panchashil3.png">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/panchashil4.png">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExample17" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample17" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  </div>
</div>

<!-- project modal18 -->
<div class="modal fade p-0 m-0" id="exampleModal18" tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog modal-button ">
    <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> -->
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body ">
    
    <h4 class="pro_title" >Project Name -Sale Management System</h4>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div> -->
    
  <!-- Carousel markup: https://getbootstrap.com/docs/4.4/components/carousel/ -->
  <div id="carouselExample18" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/assets/img/salemanagementsystem.png" alt="" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/sale2.png">
</div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/sale3.png">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/sale4.png">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExample18" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample18" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  </div>
</div>

<!-- project modal19 -->
<div class="modal fade p-0 m-0" id="exampleModal19" tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog modal-button ">
    <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> -->
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body ">
    
    <h4 class="pro_title" >Project Name -NIIT</h4>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div> -->
    
  <!-- Carousel markup: https://getbootstrap.com/docs/4.4/components/carousel/ -->
  <div id="carouselExample19" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/assets/img/niit1.jpg" alt=""  >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/NIIT2.jpg">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/niit.jpg">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/NIIT3.jpg">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExample19" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample19" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  </div>
</div>

<!-- project modal20 -->
<div class="modal fade p-0 m-0" id="exampleModal20" tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog modal-button ">
    <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> -->
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body ">
    
    <h4 class="pro_title" >Project Name -All Career Advice</h4>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div> -->
    
  <!-- Carousel markup: https://getbootstrap.com/docs/4.4/components/carousel/ -->
  <div id="carouselExample20" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/assets/img/allcareeradvice.jpg" alt="" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/allcareer2.jpg" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/allcareeradvice.jpg">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/img/allcareer3.jpg">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExample20" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample20" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  </div>
</div>

<!-- project modal21 -->
<div class="modal fade p-0 m-0" id="exampleModal21" tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog modal-button ">
    <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> -->
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body ">
    
    <h4 class="pro_title" >Project Name -Food Xpress</h4>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div> -->
    
  <!-- Carousel markup: https://getbootstrap.com/docs/4.4/components/carousel/ -->
  <div id="carouselExample21" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <video controls   width="100%" height="600px" data-target="#carouselExample21" data-slide-to="20">
          <source src="/assets/img/food1.mp4" type="video/mp4"  class="hover-shadow cursor">
        </video>
        
      </div>
      <div class="carousel-item">
        <video controls   width="100%" height="600px" data-target="#carouselExample21" data-slide-to="20">
          <source src="/assets/img/food2.mp4" type="video/mp4"  class="hover-shadow cursor">
        </video>
      </div>
      <div class="carousel-item">
        <video controls   width="100%" height="600px" data-target="#carouselExample21" data-slide-to="20">
          <source src="/assets/img/food3.mp4" type="video/mp4"  class="hover-shadow cursor">
        </video>
      </div>
      <div class="carousel-item">
        <video controls   width="100%" height="600px" data-target="#carouselExample21" data-slide-to="20">
          <source src="/assets/img/food4.mp4" type="video/mp4"  class="hover-shadow cursor">
        </video>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExample21" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample21" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  </div>
</div>





</body>
</html>


