<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InterfaceWeb</title>
   
</head>
<body>
   
  
  <div class="sidebar-slider" >
     
        <div class="sidebar-content" >
         
          <a class="active" href="/e_commerce">E-commerce  Platform</a>
        <a href="/commercial_web">Commercial Websites</a>
        <a href="/education">Education</a>
        <a href="/sales_lead">Sales & Lead (CRM)</a>
          
        <a class="active" href="/finance_accounting">Finance & Accounting</a>
        <a href="/inventory_management">Inventory Management</a>
        <a href="/organisation_management">Organization Management</a>
        <a href="/tourism">Tourism</a>
        <a class="active" href="/marketing">Marketing</a>
       
          
        </div>
  </div>
   

</body>
</html>




<!-- <div class="wrapper">
     Sidebar
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Bootstrap Sidebar</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Dummy Heading</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </nav>

</div>
 -->


















