<!-- <app-features></app-features> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InterfaceWeb</title>
</head>
<body>

    <div class="container-fluid col-sm-12 col-md-10"  >
        <h4 style="margin-top: 100px;text-align: center;">Organisation Management System</h4>
        <div class="row my-4 g-3">
           
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/Duesmanagement.png" width="100%" height="90%">
                    </div>
                    <div class="col-lg-8 ps-3">Dues management</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/Fundraising.jpg" width="100%" height="90%">
                    </div>
                    <div class="col-lg-8 ps-3">Fundraising</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/Eventmanagement.jpg" width="100%" height="90%">
                    </div>
                    <div class="col-lg-8 ps-3">Event management</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/automation.jpg" width="100%" height="90%">
                    </div>
                    <div class="col-lg-8 ps-3">Mobile capabilities</div>
                </div>
            </div>
           
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5 ">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/Newsletters.jpg" width="100%" height="90%">
                    </div>
                    <div class="col-lg-8 ps-3">Newsletters</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5 ">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/MobileCompatibility.jpg" width="100%" height="90%" >
                    </div>
                    <div class="col-lg-8 ps-3">Mobile capabilities</div>
                </div>
            </div>      
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5 ">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/Membertextmessaging.jpg" width="100%" height="85%" >
                    </div>
                    <div class="col-lg-8 ps-3">Member text messaging</div>
                </div>
            </div>      
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5 ">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/Memberdatabase.jpg" width="100%" height="85%" >
                    </div>
                    <div class="col-lg-8 ps-3">Member database</div>
                </div>
            </div>      
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5 ">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/Targeteddistributionlists.jpg" width="100%" height="85%" >
                    </div>
                    <div class="col-lg-8 ps-3">Targeted distribution lists</div>
                </div>
            </div>           
    </div>
    </div>
</body>
</html>


