<!DOCTYPE ht<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InterfaceWeb</title>
   

</head>
     <body>
   
    <!-- <div class="page_banner "  id="fullbody">
      <h4 style="color: #fff;text-align: center;margin-top: 55px;font-size:40px;text-shadow: red 2px 2px;margin-left: 20px;">CONTACT US</h4>
    </div>   -->
    <div class="page_banner "  id="fullbody">
      <h4 style="color: #fff;text-align: center;margin-top: 60px;font-size:40px;text-shadow: red 2px 2px;">CONTACT US</h4>
  </div>
    <div class="container-fluid  col-sm-12 col-md-10" >
        
      <div class="row my-5 g-4 design">
          <div class="col-sm-12 col-md-4" style="padding-left: 2rem;">
            <h2 style=" color: #71af0cbe;
            font-family: 'Times New Roman';
            text-shadow: red 2px 1px;
            font-size: 35px;
          ">Address</h2>
                    <p><i class="fa fa-map-marker "></i>  5th Floor, Waris Heights,Opp.Ellora Palace, Dhankawdi, Pune, Maharashtra 411043</p>
                    <p><i class="fa fa-phone"></i><a href="tel:+917757053247"> 020 24373511/ 7276838776</a></p>
					         <p><i class="fa fa-envelope " ></i> <a href="mailto:info@interface11.org">info@interface11.org </a></p>
          
     </div>
     <div class="col-sm-12 map-design col-md-8 ">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52181.151608062886!2d73.81934066321325!3d18.505039828884147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2eab966606da9%3A0xb671da7eda27f229!2sINTERFACE+11+PVT.+LTD!5e1!3m2!1sen!2sin!4v1514886411451" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
          
     </div>
     </div>
     <div style="color: #666666">
      <h4 style="text-align:center;color: #08979d;"><font size="3">Would you like more information about Interface11?</font></h4><div style="text-align: center;"><font size="3"><br></font></div><h4 style="text-align: center;">Online Training and Support</h4><h4 style="text-align: center;"><span style="font-weight: normal;">7276838776</span></h4><div style="text-align: center;"><br></div><h4 style="text-align: center;">For General Enquiries</h4><h4 style="text-align: center;"><span style="font-weight: normal;">Email to: info@interface11.org</span></h4>
      </div>
     <div class="row my-5   g-4">
      <div class="col-sm-12 col-md-9 mx-auto">
        <form class="row form-disgn p-4">
          <div class="col-sm-12 col-md-6 mb-3">
            <label for="fullname" class="mb-2"
              >Name</label
            >
            <input
              type="text"
              class="form-control"
              id="fullname"
              placeholder="Name"
            />
          </div>
          <div class="col-sm-12 col-md-6 mb-3">
            <label for="phone" class="mb-2"
              >Phone Number</label
            >
            <input
              type="number"
              class="form-control"
              id="phone"
              placeholder="phone number"
            />
          </div>
          <div class="col-sm-12 col-md-6 mb-3">
            <label for="email" class="mb-2"
              >Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Email"
            />
          </div>
          <div class="col-sm-12 col-md-6 mb-3">
            <label for="country" class="mb-2"
              >Country</label
            >
            <select name="select country" id="country" class="form-control">
              <option >India</option>
              <option >America</option>
              <option >South Africa</option>
              <option >Shrilanka</option>
            </select>
          </div>
          <div class="col-sm-12 col-md-6 mb-3">
            <label for="course" class="mb-2"
              >Course</label
            >
            <input
              type="text"
              class="form-control"
              id="course"
              placeholder="Course"
            />
          </div>
          <div class="col-sm-12 col-md-6 mb-3">
            <label for="other course" class="mb-2"
              >Other Course</label>
            <input
              type="text"
              class="form-control"
              id="other course"
              placeholder="Other Course"
            />
          </div>
          <div class="col-sm-12 col-md-12 mb-3">
            <label for="query" class="mb-2">Query</label>
            <textarea
              name="query"
              id="query"
              class="query"
              class="form-control"
              cols="30"
              rows="5" 
              placeholder="Query"
            ></textarea>
          </div>
          <div
            class="col-md-6 mx-auto d-flex justify-content-center align-items-center"
          >
            <button type="submit" class="btn btn-primary">
              SEND
            </button>
          </div>
        </form>
      </div>
    </div>
    </div>
    </body>
    </html>