<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InterfaceWeb</title>
  </head>
  <body>
    <div class="page_banner "  id="fullbody">
      <h4 style="color: #fff;text-align: center;margin-top: 60px;font-size:40px;text-shadow: red 2px 2px;">ABOUT US</h4>
  </div>

    <div class="container-fluid py-5">
      <div class="row">
        <div class="col-sm-12 col-md-10 mx-auto">
          <div class="row g-4">
            <div class="col-md-6">
              <div class="about-wrapper">
                <div class="about-box">
                  <img src="assets/img/238.jpg" width="100%" />
                </div>
                <div class="on_conent">
                  <img
                    src="/assets/img/a6fb3bcd0c6f74b1dec32d2200244dfd.png" height="60px" width="60px"
                    alt=""
                  />
                  <p style="color:white;font-size: 18px;">Company Profile</p>
                </div>
                <div class="on_hover">
                  <p style="text-align: justify; padding: 25px;font-size: 16px;">
                    Interface11 is a Global IT Consulting &amp; Training company
                    that has been providing high value-added business solutions
                    to enterprises of all sizes.Interface11 has proven
                    competencies in business and technology areas. It is a
                    complete end-to-end solutions provider with expertise in
                    diverse areas of IT Consulting, Training, Custom Application
                    Development &amp; Maintenance Services. The professionals at
                    Interface11 adopt a customer centric approach which helps to
                    understand the exact client requirements and enables them to
                    provide the most effective solutions.<br />
                    At Interface11 we believe in one bare fact i.e. we make
                    relationships, not clients. Whether it may be a Business
                    Giant or a SME, it is dealt with utmost care and ultimate
                    satisfaction which exceeds client’s expectation.
                  </p>
                </div>
              </div>

            </div>
            <div class="col-md-6">
              <div class="about-wrapper">
                <div class="about-box">
                  <img src="assets/img/a2.jpg" width="100%" />
                </div>
                <div class="on_conent">
                  <img
                    src="/assets/img/01057ef6d87c6b0e37d11ffbe54eeb8f.png" height="60px" width="60px"
                    alt=""
                  />
                  <p style="color:white;font-size: 18px;">Vision & Mission</p>
                </div>
                <div class="on_hover ">
                  <p style=" padding: 45px;font-size: 16px;" >
                    
							      <b style="text-align: center;margin-left: 11rem;">Vision</b><br>To become an active growth enabler for our clients and partners for our commitment towards excellence in IT consulting &amp; Training Services.&nbsp;<div style=" padding: 35px;font-size: 16px;" ><br><b style="text-align: center;margin-left: 11rem;">Mission <br></b >Our Mission is to provide a committed service that every customer expects and to assist the customers in managing time and money with our best efforts.&nbsp;</div>	
                   
                  
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-wrapper">
                <div class="about-box">
                  <img src="assets/img/7.jpg" width="100%" />
                </div>
                <div class="on_conent">
                  <img
                    src="/assets/img/c4b98c7234a6657ea17e115ab50f203f.png" height="60px" width="60px"
                    alt=""
                  />
                  <p style="color:white;font-size: 18px;">Relationship matters</p>
                </div>
                <div class="on_hover">
                  <p style="text-align: justify; padding: 70px;font-size: 16px;">
                    At Interface11 we believe in one bare fact i.e. we make relationships, not clients. Whether it may be a big corporate or a small client, it is dealt with utmost care and ultimate satisfaction which exceeds client’s expectation.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-wrapper">
                <div class="about-box">
                  <img src="assets/img/285.jpg" width="100%" />
                </div>
                <div class="on_conent">
                  <img 
                    src="/assets/img/d9ff526cced1b181ac09887498cc8216.png" height="60px" width="60px"
                    alt=""
                  />
                  <p style="color:white;font-size: 18px;">Innovation in Creation</p>
                </div>
                <div class="on_hover">
                  <p style="text-align: justify; padding: 70px;font-size: 16px;">
                    Everyone here at Interface11 is fond of working creatively, we believe that innovation is the only key factor which can keep us and our clients leap ahead of time. We are constantly on the lookout of finding innovative solutions which helps our clients to experience certainty.
                  </p>
                </div>
              </div>

             
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
