<!-- <app-features></app-features> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InterfaceWeb</title>
</head>
<body>

    <div class="container-fluid col-sm-12 col-md-10"  >
                          <h3 style="text-align: center;margin-top: 100px;">Marketing</h3>
                          <p style="text-align: center;font-weight: 150px;">Offline Marketing</p>
        <div class="row my-4 g-3">
           
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/Networking.jpg" width="100%" height="90%">
                    </div>
                    <div class="col-lg-8 ps-3">Networking Speaking Engagements</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/SpeakingEngagements.jpg" width="100%" height="95%">
                    </div>
                    <div class="col-lg-8 ps-3">Speaking Engagements Print Publications</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/DemandForecasting.jpg" width="100%" height="90%">
                    </div>
                    <div class="col-lg-8 ps-3">Print Publications</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/Membertextmessaging.jpg" width="100%" height="90%">
                    </div>
                    <div class="col-lg-8 ps-3">Direct Mail</div>
                </div>
            </div>
           
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5 ">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/ColdCalls.jpg" width="100%" height="85%">
                    </div>
                    <div class="col-lg-8 ps-3">Cold Calls</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5 ">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/PrintAdvertising.png" width="100%" height="90%" >
                    </div>
                    <div class="col-lg-8 ps-3">Print Advertising</div>
                </div>
            </div>   
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5 ">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/TradeShows.jpg" width="100%" height="90%" >
                    </div>
                    <div class="col-lg-8 ps-3">Associations and Trade Shows</div>
                </div>
            </div>   
                  </div> 
                  <p style="text-align: center; margin-top: 30px;font-weight:200px;">Online Marketing</p>
                  <div class="row  g-3">
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5 ">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/Bloggingtool.jpg" width="100%" height="85%" >
                    </div>
                    <div class="col-lg-8 ps-3">Blogging tool</div>
                </div>
            </div>   
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5 ">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/MgtOnMedia.jpg" width="100%" height="85%" >
                    </div>
                    <div class="col-lg-8 ps-3">Management on social media</div>
                </div>
            </div>   
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5 ">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/SEOtools.png" width="100%" height="85%" >
                    </div>
                    <div class="col-lg-8 ps-3">SEO Tools</div>
                </div>
            </div>   
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5 ">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/WebDesignTool.jpg" width="100%" height="85%" >
                    </div>
                    <div class="col-lg-8 ps-3">Website Design Tools</div>
                </div>
            </div>   
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5 ">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/Calls_action.jpg" width="100%" height="85%" >
                    </div>
                    <div class="col-lg-8 ps-3">Calls to Action</div>
                </div>
            </div>   
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5 ">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/Landingpages.jpg" width="100%" height="85%" >
                    </div>
                    <div class="col-lg-8 ps-3">Landing Pages</div>
                </div>
            </div> 
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5 ">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/Leadmanagement.png" width="100%" height="85%" >
                    </div>
                    <div class="col-lg-8 ps-3">Lead Management</div>
                </div>
            </div>
            </div>               
    </div>
    
</body>
</html>
