<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InterfaceWeb</title>
    

</head>
     <body>
   
    <div class="page_banner "  id="fullbody">
        <h4 style="color: #fff;text-align: center;margin-top: 55px;font-size:40px;text-shadow: red 2px 2px;">CLIENTS</h4>
    </div>  
    
     <!-- <div class="emmerce-card d-flex">
        <div class="ecommerce-img">
            <img src="assets/img/hb1.jpg" width="100%" height="100%">
            <h4 >Clients</h4>
        </div>
        <div class="col-lg-8 ps-3">Clients</div>
    </div>  -->
    <!-- <div>

    </div> -->
    <div class="container-fluid col-sm-12 col-md-10" >
        
        <div class="row my-5 g-4">
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/usit.jpg" width="100%" height="80px">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/niit.png" width="100%" height="80px">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/foodexpress.jpg" width="100%" height="80px">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/shapeup1.png" width="100%" height="80px">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/sheka.png" width="100%" height="80px">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/mahindra.jpg" width="100%" height="80px">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/mindscript.jpg" width="100%" height="95px">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/croma.jpg" width="100%" height="95px">
                    </div>
                </div>
            </div>
             <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/national-pharma.jpg" width="100%" height="80px">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/dor.jpg" width="100%" height="85px">
                    </div>
                </div>
            </div>
             <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/ashish.jpg" width="100%">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/oneplus.jpg" width="100%" height="100px">
                    </div>
                </div>
            </div>
             <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/wetenjoy.jpg" width="100%" height="80px">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/css.png" width="100%" height="80px">
                    </div>
                </div>
            </div>
             <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/panchshil.jpg" width="100%" height="80px">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/silvernest.jpg" width="100%"  height="85px">
                    </div>
                </div>
            </div>
             <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/graphix.jpg" width="100%" height="85px">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/repairlogo.png" width="100%" height="80px">
                    </div>
                </div>
            </div>
             <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/moon_logo.png" width="100%" height="80px">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/hcc-logo-1.png" width="100%" height="80px">
                    </div>
                </div>
            </div>
             <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/steel.png" width="100%" height="80px">
                    </div>
                </div>
            </div>
            </div>
            </div>
            <h4 style="margin-top: 20px;text-align: center;">Testimonials</h4>
            <div class="container-fluid col-sm-12 col-md-10" >
                <div class="row my-5 g-4">
                    <div class="col-sm-12 col-md-6 col-lg-4">
                       <div class="emmerce-card ">
                           <div class="img-wrapper d-flex justify-content-center align-items-center mb-4 ">
                               <div class="ecommerce-img ">
                                   <img src="assets/img/national-pharma.jpg" width="100%" height="90px">
                               </div>
                           </div>
                           <div class=" mt-4 ps-3">“I now feel like we have the tools to address any problem we come up against. Our only limit is our imagination.”
                               <p class="mt-3 mb-0">-Altaf Bagmaru</p>
                               <p>CEO, National Pharma</p>
                           </div>
                       </div>
                   </div>
                   <div class="col-sm-12 col-md-6 col-lg-4">
                       <div class="emmerce-card ">
                           <div class="img-wrapper d-flex justify-content-center align-items-center mb-4 ">
                               <div class="ecommerce-img ">
                                   <img src="assets/img/hcc-logo-1.png" width="100%" height="90px">
                               </div>
                           </div>
                           <div class="mt-4 ps-3">”I am very pleased with the project you have done, and especially your commitment to providing a quality solution when it meant going the extra mile to do so.”
                               <p class="mt-3 mb-0">-Pritam</p>
                               <p>Finance Director, HCC India</p>
                           </div>
                       </div>
                   </div>
                   <div class="col-sm-12 col-md-6 col-lg-4">
                       <div class="emmerce-card ">
                           <div class="img-wrapper d-flex justify-content-center align-items-center mb-4 ">
                               <div class="ecommerce-img ">
                                   <img src="assets/img/dor.jpg" width="100%" height="90px">
                               </div>
                           </div>
                           <div class=" mt-4 ps-3">“The biggest benefit we’ve seen using Interface11’s E-commerce Platform is client retention.”
                               <p class="mt-3 mb-0">-Shreyash Kapse</p>
                               <p>Owner, DOR</p>
                           </div>
                       </div>
                   </div>
       
                   <div class="col-sm-12 col-md-6 col-lg-4">
                       <div class="emmerce-card ">
                           <div class="img-wrapper d-flex justify-content-center align-items-center mb-4 ">
                               <div class="ecommerce-img ">
                                   <img src="assets/img/moon_logo.png" width="100%" height="90px">
                               </div>
                           </div>
                           <div class=" mt-4 ps-3">“I now feel like we have the tools to address any problem we come up against. Our only limit is our imagination.”
       
                               <p class="mt-3 mb-0">-Ashok Sapkal</p>
                               <p >Owner, Moonlight School</p>
                           </div>
                       </div>
                   </div>
       
                   <div class="col-sm-12 col-md-6 col-lg-4">
                       <div class="emmerce-card ">
                           <div class="img-wrapper d-flex justify-content-center align-items-center mb-4 ">
                               <div class="ecommerce-img ">
                                   <img src="assets/img/css.png" width="100%" height="90px">
                               </div>
                           </div>
                           <div class="mt-4 ps-3">“The functionality is a lot better than ZOHO and other competitors in the Market. I think this CRM is probably one of the strongest and best I have ever used.”
                               <p class="mt-3 mb-0">-Sikhar Samuel,</p>
                               <p>Head-Relationship Management, Covenant Social Service</p>
                           </div>
                       </div>
                   </div>
       
                   <div class="col-sm-12 col-md-6 col-lg-4">
                       <div class="emmerce-card ">
                           <div class="img-wrapper d-flex justify-content-center align-items-center mb-4 ">
                               <div class="ecommerce-img ">
                                   <img src="assets/img/mindscript.jpg" width="100%" height="80px">
                               </div>
                           </div>
                           <div class="mt-4 ps-3">Interface11 has constantly provided quality service for all our projects. We've been happy to work with their staff, who are always looking out for our interests and have been a key element in our growth. Glad to have chosen Interface11 for all our outsourcing development needs.
                               <p class="mt-3 mb-0">-Neeraj</p>
                               <p>Owner, Mindscript</p>
                           </div>
                       </div>
                   </div>
       
                   <div class="col-sm-12 col-md-6 col-lg-4">
                       <div class="emmerce-card ">
                           <div class="img-wrapper d-flex justify-content-center align-items-center mb-4 ">
                               <div class="ecommerce-img ">
                                   <img src="assets/img/panchshil.jpg" width="100%" height="70px">
                               </div>
                           </div>
                           <div class="mt-4 ps-3">“First we thought that excel would be perfect but after a few months it became obvious that we need something a lot more powerful. Then we came to Interface11‘s Inventory Management. ”
                               <p class="mt-3 mb-0">-Rushi Handi</p>
                               <p>Owner, Panchshil Telecom</p>
                           </div>
                       </div>
                   </div>
       
                   <div class="col-sm-12 col-md-6 col-lg-4">
                       <div class="emmerce-card ">
                           <div class="img-wrapper d-flex justify-content-center align-items-center mb-4 ">
                               <div class="ecommerce-img ">
                                   <img src="assets/img/graphix.jpg" width="100%" height="90px">
                               </div>
                           </div>
                           <div class=" mt-4 ps-3">“The most important feature of Interface11 Creator was its ease of use and ease of deploying.”
                               <p class="mt-3 mb-0">-Dyaneshwar</p>
                               <p>MD, Graphix Technologies</p>
                           </div>
                       </div>
                   </div>
       
                   <div class="col-sm-12 col-md-6 col-lg-4">
                       <div class="emmerce-card ">
                           <div class="img-wrapper d-flex justify-content-center align-items-center mb-4 ">
                               <div class="ecommerce-img ">
                                   <img src="assets/img/repairlogo.png" width="100%" height="90px">
                               </div>
                           </div>
                           <div class=" mt-4 ps-3">“Interface11 has played an important role in standardizing our program. We now have more than 1,500 clients using our services.”
                               <p class="mt-3 mb-0">- Aniket Bhilare</p>
                               <p>MD, RepairStation</p>
                           </div>
                       </div>
                   </div>
       
       
       
       
                   </div>
       
            </div>
        
           
    </body>
    </html>