<!-- <app-features></app-features> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InterfaceWeb</title>
</head>

<body>
    <div class="container-fluid col-sm-12 col-md-10">
        <h4 style="margin-top: 100px;text-align: center;">E-commerce Platforms</h4>
        <div class="row my-4 g-3">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/Content-management.jpg" width="100%">
                    </div>
                    <div class="col-lg-8 ps-3">Content management capabilities</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/discount-ecom.png" width="100%">
                    </div>
                    <div class="col-lg-8 ps-3">Promotion and discount code tools</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/easy-use.jpg" width="100%">
                    </div>
                    <div class="col-lg-8 ps-3">An easy to-use checkout</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/SEO.png" width="100%">
                    </div>
                    <div class="col-lg-8 ps-3">Search engine optimized code and layout</div>
                </div>
            </div>
           
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5 ">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/Reportingtools.png" width="100%">
                    </div>
                    <div class="col-lg-8 ps-3">Reporting tools</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5 ">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/Blog.jpg" width="100%" height="90%">
                    </div>
                    <div class="col-lg-8 ps-3">An integrated blog or articles section</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/e-market.jpg" width="100%" height="90%">
                    </div>
                    <div class="col-lg-8 ps-3">Email marketing integration</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/pay-mode.png" width="100%" height="100%">
                    </div>
                    <div class="col-lg-8 ps-3">Multiple payment options</div>
                </div>
            </div>
            
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/multi-plat.jpg" width="100%">
                    </div>
                    <div class="col-lg-8 ps-3">The ability to scale up with your platform</div>
                </div>
            </div>
        </div>
        <!-- <div class="row my-5">
            <div class="col-md-8">
                <p>Interface11 speaks to a gathering of capable, accomplished, and decided experts that drive results. We heartily enroll experts who are innovative masterminds and results-driven cooperative people. Meet any of our colleagues and you will recognize promptly that we are:</p>
                 <div class="list">
                    <ul>
                        <li>
                            fuyguguhh
                        </li>
                        <li>
                            fuyguguhh
                        </li>
                        <li>
                            fuyguguhh
                        </li>
                        <li>
                            fuyguguhh
                        </li>
                        <li>
                            fuyguguhh
                        </li>
                    </ul>
                 </div>
                 <p>All positions require excellent communication skills. Strong analytical and problem solving abilities are essential for Software Engineers. Kindly send your resume to info@interface11.com</p>
            </div>
            <div class="col-md-4">
             <h2>Job Description</h2>
             <div class="row">
                <div class="col-sm-12 col-md-3 ">
                    <div class="emmerce-card d-flex">
                        <div class="ecommerce-img">
                            <img src="assets/img/Content-management.jpg" width="100%">
                        </div>
                        <div class="ps-3">Content management <br>capabilities</div>
                    </div>
                </div>
             </div>
            </div>
        </div> -->
    </div>
</body>

</html>