<!-- <app-features></app-features> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InterfaceWeb</title>
</head>
<body>

    <div class="container-fluid col-sm-12 col-md-10">
        <h4 style="margin-top: 100px;text-align: center;">Inventory Management System</h4>
        <div class="row my-4 g-3">
           
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/BasicInventoryControl.jpg" width="100%" height="90%">
                    </div>
                    <div class="col-lg-8 ps-3">Basic Inventory Control</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/BarcodingScanning.jpg" width="100%" height="90%">
                    </div>
                    <div class="col-lg-8 ps-3">Barcoding & Scanning</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/DemandForecasting.jpg" width="100%" height="90%">
                    </div>
                    <div class="col-lg-8 ps-3">Demand Forecasting</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/AccountingIntegration.png" width="100%" height="90%">
                    </div>
                    <div class="col-lg-8 ps-3">Accounting Integration</div>
                </div>
            </div>
           
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5 ">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/LotTracking.jpg" width="100%" height="90%">
                    </div>
                    <div class="col-lg-8 ps-3">Lot Tracking</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mt-5 ">
                <div class="emmerce-card d-flex">
                    <div class="ecommerce-img">
                        <img src="assets/img/Support.png" width="100%" height="85%" >
                    </div>
                    <div class="col-lg-8 ps-3">Support For Kits <br>(aka Bundled Products;kitting)</div>
                </div>
            </div>           
    </div>
    </div>
</body>
</html>

